/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* psct
1. position
2. size (width và height)
3. color
4. Type (kiểu chữ, hình tròn, vuông, ...)
*/

.header {
  height: var(--header-height);
  /* linear-gradient(corner,color,color) 
  usually: 0,bot,top*/
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 4px;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  width: 160px;
  position: absolute;
  z-index: 1;
  top: calc(100% + 8px);
  right: 0;
  list-style-type: none;
  padding-left: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -34px;
  right: 4px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 64%;
  height: 8px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item:hover a {
  color: green;
  background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  /* Căn giữa theo chiều dọc */
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.6rem;
  margin: 0 4px 2px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  /* size */
  width: 186px;
  /* color */
  background: var(--white-color);
  /* position */
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  /* Sử dụng animation bên base.css */
  animation: fadeIn 0.3s ease-in;
  will-change: opacity;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
  content: "";
  /* size */
  width: 100%;
  height: 20px;
  /* position */
  position: absolute;
  left: 0;
  top: -16px;
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link {
}

/* C1 - căn chỉnh item */
.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}
/* C2 - căn chỉnh item */
/* .header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 11px;
} */

.header__qr-download-img {
  height: 15px;
}

/* Header Notification */
.header__notify {
  /* position */
  position: absolute;
  top: 118%;
  right: 0;
  /* size */
  width: 404px;
  /* color */
  background-color: var(--white-color);
  /* type */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: default;
  /* vị trí của tâm xuất phát ban đầu*/
  transform-origin: calc(100% - 32px) top;
  animation: headerNotifyGrowth 0.2s ease-in;
  /* Giúp browser tối ưu chuyển động các thành phần trong keyframe */
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}

.header__notify::before {
  content: "";
  border-width: 20px 28px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -29px;
  right: 4px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  right: 0;
  width: 90px;
  height: 20px;
}

@keyframes headerNotifyGrowth {
  from {
    /* scale -- độ to (0->1)  */
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  /* color */
  color: #999;
  /* size */
  margin: 0 0 0 12px;
  /* bằng height của cha sẽ căn giữa theo chiều dọc */
  line-height: 40px;
  /* type */
  font-size: 1.4rem;
  font-weight: 400;
  user-select: none;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f7f7f7;
}

.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  width: 100%;
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  /* Tương tự bg-size nhưng dùng cho bg-img */
  object-fit: contain; /*Dùng cho thẻ img*/
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 8px 0;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
}

/* Authen Modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}
.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background: #f5f5f5;
  margin-top: 22px;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook,
.auth-form__socials--google {
  color: var(--text-color);
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: -1px 16px 0;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header With Search  */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo__link {
  color: transparent;
  text-decoration: none;
}

.header__logo-img {
  width: 150px;
}

.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 9px);
  right: 1px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.2s;
  will-change: opacity;
  cursor: default;
  display: none;
  z-index: 1;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style-type: none;
  height: 56vh;
  /* overflow theo trục dọc và có scroll */
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price-wrap {
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 300;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  color: #757575;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  background-color: #f05d41;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  top: -26px;
  right: 3px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  width: 60%;
  display: none;
}

.header__cart-list--no-cart-msg {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  display: none;
}

.header__cart-notice {
  position: absolute;
  top: -14px;
  right: -5px;
  padding: 5px 8px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 50%;
  border: 2px solid #ee4d2d;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  position: absolute;
  top: 120%;
  right: 0;
  width: 130px;
  list-style-type: none;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
  will-change: opacity;
  z-index: 1;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 0;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* Search History */
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  overflow: hidden;
  display: none;
  z-index: 1;
}

.header__search-history-heading {
  margin: 14px 12px 0;
  font-size: 1.6rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style-type: none;
  padding: 4px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* App Container */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 16px 16px 0;
  margin-top: 0;
  text-transform: uppercase;
}

.category-list {
  padding: 0 0 8px 0;
  list-style-type: none;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.category-item__link {
  color: var(--text-color);
  font-size: 1.4rem;
  text-decoration: none;
  padding: 6px 20px;
  display: block;
  /* Định nghĩa chuyển động */
  transition: right linear 0.1s;
  position: relative;
  right: 0;
}

.category-item:hover .category-item__link {
  right: -4px;
  color: var(--primary-color);
}

/* Home sort + filter */
.home-filter {
  position: relative;
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  color: #555555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  width: 72px;
  height: 36px;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
}

.home-filter__page-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__page-icon {
  font-size: 1.4rem;
  color: #555555;
  margin: auto;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  margin-top: 10px;
  background-color: var(--white-color);
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  /* Định nghĩa animation nếu đúng với transform */
  transition: transform ease-in 0.1s;
  will-change: transform;
  text-decoration: none;
  display: block;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  object-fit: contain;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 10px 10px 6px;
  line-height: 1.8rem;
  /* Hiện Dấu ... khi dài quá height */
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
  padding-top: 5px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  /* currentColor ăn theo màu của color */
  background-color: currentColor;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.home-product-item__favorite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  /* Nếu  currentColor k0 có thuộc tính color 
  thì sẽ ăn theo color của cha nó*/
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  /* Giảm độ sáng */
  filter: brightness(60%);
}

.home-product-item__favorite i {
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
  color: var(--white-color);
}

.home-product-item__favorite span {
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 2px;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
  font-weight: 600;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  margin: auto;
  border-width: 0 20px 4px;
  border-style: solid;
  color: rgba(255, 216, 64, 0.94);
  border-color: transparent currentColor transparent currentColor;
}

.home-product__pagination {
  margin: 48px 0 32px;
}

/* Footer */
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
  background-color: var(--white-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style-type: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.footer-item:hover .footer-item__link {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin: -1px 8px 0 0;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}

.footer__download-app-img {
  height: 16px;
}

.footer__bottom {
  margin-top: 36px;
  background-color: #f5f5f5;
  padding: 36px 0;
  text-align: center;
}

.footer__policy-list {
  width: 70%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: auto;
}

.footer__policy-item-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.54);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 14px;
}

.footer__policy-item:last-child .footer__policy-item-link {
  border: none;
}

.group-icon {
  display: flex;
  justify-content: space-around;
  margin: 30px 350px 10px 444px;
}

.group-icon__link {
  text-decoration: none;
  flex: 1;
}

.group-icon__img {
  width: 100px;
  height: 40px;
  background-size: 576.6666666666666% 411.1111111111111%;
  background-position: 98.6013986013986% 81.42857142857143%;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/406304771a25a1ac7a25d094d88b84ac.png);
}

.group-icon__img_2 {
  width: 100px;
  height: 40px;
  background-size: 576.6666666666666% 411.1111111111111%;
  background-position: 97.601399% 298.428571%;
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/406304771a25a1ac7a25d094d88b84ac.png);
}

.footer__address-text:first-child {
  margin-bottom: 20px;
}

.footer__address-text {
  color: #737373;
  margin: 5px 0;
  font-size: 1.2rem;
}
